<!DOCTYPE html>
<html>
  <title>Outdoor Adventure Crew</title>
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans|Permanent+Marker|Russo+One" rel="stylesheet">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <script src="https://www.gstatic.com/firebasejs/3.6.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCuLNTDb1E1WRrKcLL5oQvXFHCQsDCBFg8",
      authDomain: "outdooradventurecrew-a3400.firebaseapp.com",
      databaseURL: "https://outdooradventurecrew-a3400.firebaseio.com",
      storageBucket: "outdooradventurecrew-a3400.appspot.com",
      messagingSenderId: "65257941341"
    };
    firebase.initializeApp(config);
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYo1Y-BGE_r201PlgjEfdTM6r3njal7MM" type="text/javascript"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular-sanitize.js"></script>
  <script src="https://angular-ui.github.com/ui-router/release/angular-ui-router.js"></script>

	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

  <script src="js/home.js"></script>
  <script src="js/blog_ctrl.js"></script>
  <script src="js/article_ctrl.js"></script>
  <script src="js/gallery_ctrl.js"></script>
  <script src="js/gear_rev_ctrl.js"></script>
  <script src="js/home_ctrl.js"></script>
  <script src="js/survival_ctrl.js"></script>
  <script src="js/contact_ctrl.js"></script>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/main.css">
  <link rel="stylesheet" href="stylesheets/advlog.css">
  <link rel="stylesheet" href="stylesheets/article.css">
  <link rel="stylesheet" href="stylesheets/overlay.css">
  <link rel="stylesheet" href="stylesheets/gallery.css">

<body>
<div id="fb-root"></div>

<div ng-app="OutdoorAdvCrew">

  <header class="container-fluid" id="header">
    <div class="row">
      <nav class="col-sm-5 text-left header-title">
        <a href="#/home">Outdoor Adventure Crew</a>
      </nav>
      <nav class="col-sm-7 text-right header-icons">
        <a href="#/blog">Adventure Log</a><a href="#/gearrev">Reviews</a><a href="#/gallery">Gallery</a><a href="#/survival">Survival Guide</a>
      </nav>
    </div>
  </header>



  <div id="main-section">
    <ui-view></ui-view>
  </div>





  <!--the different controls-->
  <script type="text/ng-template" id="/home.html">

    <div id="email-subscribe" class="overlay">

      <div class="overlay-content">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <h3>{{emailInvite}}</h3>
        <br><br>
        <form>
          <input type="email" name="email-input" value="Email Address" id="email-input" style="color:#cccccc" onfocus="this.style='color:#000000'; if (this.value=='Email Address') this.value = ''" onfocusout="if (this.value=='') {this.value = 'Email Address'; this.style='color:#cccccc';}"><!-- ng-model="email.text" required --> <a href="#" id="email-input-submit-button" onclick="verifyEmail()">Subscribe!</a>
        </form>
      </div>
    </div>

    <section class="jumbotron" id="jumbo-top">
      <div class="container" id="jumbo-title">
        <div class="row">
          <!-- <h2>{{jumbotronWelcome}}</h2> -->
          <h3>{{jumbotronTitle}}</h3>
        </div>
      </div>
    </section>
    <div id="main">
      <section class="container" id="main-container">

        <div class="row title-div"><div class="col-sm-12 text-center"><br>- OUR MOST RECENT ENTRIES -</div></div>
        <br>
        <div class="row r2 rtest image-row">
          <div class="col-sm-4">
            <a href="{{advlog.link}}" onclick="scrollToTop()">
              <div class="text-center">
                <img src="{{advlog.image}}">
                <h3 class='title-div-pm'>{{advlog.title}}</h3>
              </div>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="{{gearrev.link}}" onclick="scrollToTop()">
              <div class="text-center">
                <img src="{{gearrev.image}}">
                <h3 class='title-div-pm'>{{gearrev.title}}</h3>
              </div>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="{{survtip.link}}" onclick="scrollToTop()">
              <div class="text-center">
                <img src="{{survtip.image}}">
                <h3 class='title-div-pm'>{{survtip.title}}</h3>
              </div>
            </a>
          </div>
        </div>

        <div class="move-up" id="about-us-bg">
          <div class="row" id="about-us" style="font-size: 42px">
            <div class="col-sm-12 text-left">
              <hr>
              <div class="row title-div-big text-center">- ABOUT US -</div>
              <hr>
              <p class="p-bree"><span>Welcome to our site! We are the Outdoor Adventure Crew, a group of friends that loves being outdoors, experiencing the world around us, and inspiring others to do the same.</span></p>
              <p class="p-opensans">Our goal is to help people understand that adventure is a state of mind not a destination, and that as such does not have to be expensive or extravagant. We want people to realize that you do not have to be a travel blogger, a mountain man or live out of a van to reap the benefits of the outdoors. YOU the student, the parent, the worker with a 9-5, the human, have a right to live life to it’s fullest, to explore the world around you, and to appreciate the beauty that surrounds us every day. Join us as we attempt to do the same, as we find beauty in our backyard and in turn find ourselves.</p>
              <br>
              <p class="p-opensans-italic" style="margin-left:40px">“We do not adventure to escape life, we adventure so that life does not escape us”</p>
              <p class="p-bree" style="margin-left:80px">-The Crew</p>
              <hr>

            </div>
          </div>
        </div>

        <div class="move-up">
          <div class="row title-div"><div class="col-sm-12 text-center"><br>- FEATURED BLOG ARTICLES -</div></div>
          <br>
          <div class="row r2 rtest image-row">
            <div class="col-sm-4">
              <a href="{{blog1.link}}" onclick="scrollToTop()">
                <div class="text-center">
                  <img src="{{blog1.image}}">
                  <h3 class='title-div-pm'>{{blog1.title}}</h3>
                </div>
              </a>
            </div>
            <div class="col-sm-4">
              <a href="{{blog2.link}}" onclick="scrollToTop()">
                <div class="text-center">
                  <img src="{{blog2.image}}">
                  <h3 class='title-div-pm'>{{blog2.title}}</h3>
                </div>
              </a>
            </div>
            <div class="col-sm-4">
              <a href="{{blog2.link}}" onclick="scrollToTop()">
                <div class="text-center">
                  <img src="{{blog2.image}}">
                  <h3 class='title-div-pm'>{{blog2.title}}</h3>
                </div>
              </a>
            </div>
          </div>
        </div>

        <!-- <div class="row"><div class="col-sm-12 text-left"></div><hr></div> -->
        <br><br>
      </section>
    </div>
  </script>

  <script type="text/ng-template" id="/blog.html">

    <section class="jumbotron">
      <div class="container" id="jumbo-title">
        <div class="row">
          <h3>{{jumbotronTitle}}</h3>
        </div>
      </div>
    </section>
    <div id="main">
      <section class="container-fluid" id="main-container-blog">
        <div class="row">

          <div class="col-sm-8 main-blog">
            <div class="main-blog-body">
              <div class="row title-div-big text-center">{{innerTitle}}</div><hr><br><br>

                <div ng-repeat="article in articles">
                  <a href="{{article.link}}" onclick="scrollToTop()"><img src="{{article.imageSrc}}"></a><br><br>
                  <a href="{{article.link}}" onclick="scrollToTop()"><p class="title-bree smaller-line-height">{{article.title}}</p></a>
                  <p class="article-date">{{article.date}}</p>
                  <p>{{article.intro}}<a href="{{article.link}}" onclick="scrollToTop()" style="color: #20457c;"> Click to read more...</a></p>
                  <hr>
                <br>
              </div>
            </div>
          </div>


          <div class="col-sm-4">
            <div class="top-spacing"></div>
            <hr>
            <div class="text-center sidebar-title-div">Featured Articles</div><hr>
            <div class="sidebar-featured">
              <div ng-repeat="article in featured">
                <div class="row">

                  <div class="col-sm-2 sidebar-article-part1">
                    <a href="{{article.link}}" onclick="scrollToTop()"><img src="{{article.imageSrc}}"></a><br><br>
                  </div>
                  <div class="col-sm-2 sidebar-article-part2">
                    <a href="{{article.link}}" onclick="scrollToTop()"><p class="sidebar-article-title">{{article.title}}</p></a>
                    <p class="sidebar-article-date">{{article.date}}</p>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="text-center sidebar-title-div-small"><a href="#">[ADVERTISMENT]</a></div>
            <hr>
          </div>
        </div>
      </section>
    </div>
  </script>

  <script type="text/ng-template" id="/gearrev.html">
    <section class="jumbotron">
      <br><br><br><br><br><br><br><br><br><br><br><br>
      <div class="container" id="jumbo-title">
        <div class="row">
          <h3>{{jumbotronTitle}}</h3>
        </div>
      </div>
    </section>
    <div id="main">
      <section class="container-fluid" id="main-container-blog">
        <div class="row">

          <div class="col-sm-8 main-blog">
            <div id="main-blog-body">
              <div class="row title-div text-center">- FEATURED REVIEWS -</div><br><br>
                <div ng-repeat="article in articles">
                  <div class="text-center">
                    <a href="#/article" onclick="scrollToTop()"><img src="{{article.imageSrc}}"></a>
                  </div>
                  <h3>{{article.title}}</h3>
                  <p>{{article.content}}...<a href="#/article" onclick="scrollToTop()" style="color: #20457c;"> {{readMore}}</a></p>
                  <div class="main-blog-line"></div>
                <br><br><br>
              </div>
            </div>
          </div>


          <div class="col-sm-4">
            <!-- <div class="top-spacing"></div>
            <div class="sidebar-content-blog">
              <div class="text-center sidebar-title-div-big"><a href="#">ALL ENTRIES</a></div>
              <div class="main-line"></div>
              <div class="text-center sidebar-title-div-small"><a href="#">CLICK HERE TO SEE ALL</a></div>
              <div class="main-line"></div>

              <div class="text-center sidebar-title-div "><em>OR,</em> VIEW BY MONTH</div>
              <div class="sidebar-border text-center">
                <div ng-repeat="month in getMonthsArray()" class="sidebar-title-div">
                  <a href=""><div id="month">{{month}} 2016</div></a>
                </div>
                <div class="main-line"></div>
                <a href="" class="sidebar-title-div-small">OVER 8 MONTHS AGO</a>
               </div>
            </div>
            <br><br><br> -->
            <div class="main-line"></div>
            <div class="text-center sidebar-title-div-small"><a href="#">[ADVERTISMENT]</a></div>
            <div class="main-line"></div>


          </div>
        </div>
    </div>
  </script>

  <script type="text/ng-template" id="/gallery.html">
    <section class="container" id="main-container">
      <div class="row title-div"><div class="col-sm-12 text-center"><br>- OUR PHOTOS -</div></div>
      <div ng-repeat="photoArr in photos">

        <div class="row gallery-row">
          <div class="col-sm-4 text-center">
            <a href=""><img src="{{photoArr.image1}}"></a>
          </div>
          <div class="col-sm-4 text-center">
            <a href=""><img src="{{photoArr.image2}}"></a>
          </div>
          <div class="col-sm-4 text-center">
            <a href=""><img src="{{photoArr.image3}}"></a>
          </div>
        </div>
      </div>
      <div class="row title-div"><div class="col-sm-12 text-center"><br><a href="">CLICK TO VIEW OLDER...</a></div></div>
    </section>
  </script>

  <script type="text/ng-template" id="/article.html">

    <section class="jumbotron">
      <div class="container" id="jumbo-title">
        <div class="row">
          <h3>{{article.jumbotronTitle}}</h3>
          <h2>Date: {{article.date}}, Logged by: {{article.loggedBy}}</h2>
        </div>
      </div>
    </section>
    <div id="main">
      <section class="container-fluid" id="main-container-blog">
        <div class="row">

          <div class="col-sm-8 main-blog">
            <div class="main-blog-body">
              <!-- <div class="article-header">
                <p><span>Date: </span>9/17/2016</p>
                <p><span>Logged by: </span>Kimberly Jackson</p>
              </div> -->
              <hr>
              <div class="row title-div-article text-center">Quick Stats:</div>
              <hr><br>
                <p><span>Days: </span>{{article.days}}</p>
                <p><span>Nights: </span>{{article.nights}}</p>
                <p><span>Where we stayed: </span>{{article.whereWeCamped}}</p>
                <p><span>Trails we hiked: </span>{{article.trailsWeHiked}}</p>
                <p><span>Miles hiked: </span>{{article.milesHiked}}</p>
                <p><span>Permits needed: </span>{{article.permitsNeeded}}</p>
                <p><span>Suggested time of year: </span>{{article.suggestedTimeOfYear}}</p>
                <p><span>Gear rating: </span>{{article.gearRating}}</p>
                <p><span>Difficulty: </span>{{article.difficulty}}</p>
                <p><span>Enjoyability: </span>{{article.enjoyability}}</p>
              <br><hr>
              <div class="row title-div-article text-center">Log:</div>
              <hr><br>
              <div class="article-content" ng-bind-html="article.articleContent"></div>

              <!-- <div class="article-content">
                <p>Yellowstone made the perfect end to a great summer of adventures for our crew. Ethan had recently returned from his summer sales with thoughts of this trip getting him through the grueling summer. Needless to say, we were all really excited for this last hurrah before the school year started. We met on Wednesday afternoon and loaded up the cars, spending a little longer in Provo than we had anticipated before leaving. With 8 of us heading on the trip we had decided to take two cars. In hindsight one bigger car would have been much better both for logistics and fun. First key to a great experience on your Yellowstone trip: a great music playlist. As per usual we created a shared playlist and each added a couple of songs to it, making for a great car ride. We arrived late Wednesday night at the cabin about 30 min outside of the west entrance to the park. Tips and Things to know for Yellowstone: </p>
                <div class="inner-article-title-bree">1. There are no buffalo in Yellowstone. Only American Bison. </div>
                <p>Usually our trips are planned out from beginning to end. This trip, however, was played by ear, meaning we spent more time driving than we usually do. This is a great option for explorers who do not want to spend so much time hiking, and more time enjoying the beautiful scenery. The wildlife in Yellowstone is abundant (don't get too close!), and worth the trip, especially if you have kids travelling with you; thus, we, being basically small children at heart, enjoyed seeing BISON, moose, elk, bears, and other forms of fascinating creatures, both large and small. </p>
                <div class="inner-article-title-bree">2. Bring new friends. </div>
                <p>Our good friend [Side pic 1]Ming walked into the apartment as we planned the trip. Now, Ming is from China and has never left Utah (except for Los Angeles, which can hardly count as vacation...). He asked if he could come, and having an extra spot, we welcomed him into our crew. Yellowstone is a great place to bring new explorers as it has various levels of hikes that show America's heartland in all of its glory. </p>
                <div class="inner-article-title-bree">3. Visit the Geothermal Features.</div>
                <p>Mud pots make up one of the different geothermal features in the Park, along with geysers, fumaroles (steam vents), and hot springs. Many of these are found on "board walk" trails throughout the Park, including the Grand Prismatic Spring, Artist's Paint Pots, and, of course, Old Faithful. These trails are short and can be crowded. Don't let that stop you, though (unless you do NOT like people--in that case, we ask you to stay FAR from the mud pots...). </p>
                <div class="inner-article-title-bree">4. Skipping up the steps of Uncle Tom's trail...not advised. </div>
                <p>Uncle Tom's trail is one of the many trails at the Grand Canyon of Yellowstone, leading to a great point to view the Falls. It is definitely straight out of Teddy Roosevelt's CCC (Civilian Conservation Corps) plan as a massive staircase takes explorers down the side of the cliff to the viewing point. Going back up is a hike in and of itself, even if you are using the stairs. Don't skip. Also, watch out for ferrets. They don't care how fast you went up the staircase--they will charge (Ethan is still going to therapy...jk). They actually are not a problem. Just a funny moment of a rather feisty ferret. They don't charge unless provoked. </p>
                <div class="inner-article-title-bree">5. Point Sublime is not quite as sublime as the trail leading up to it.</div>
                <p>...however, it makes for a great place to let out your inner sloth [side pic 2] due to the fence at the point that we weirdly started hanging from, using all four limbs. Nobody was around, so why not show off our true selves (see photos). Anyways, the 1.4 mile hike is one to remember, as it displays Yellowstone in its full glory. It's great for any group as the look out points along the way are just as great, or greater as Sublime Point, so if you feel it's time to turn around, you don't need to feel like you are missing a ton. But were we to go back, we'd probably go the whole way again. </p>
                <div class="inner-article-title-bree">6. Nonetheless the hike along the Grand Canyon of Yellowstone to Point Sublime is definitely worth it. </div>
                <p>Again, it is BE-A-U-TI-FUL, and definitely uncrowded!!! In general, there are many "off-the-beaten-path" trails to take, that do take you away from the heavy crowds. Talk to park rangers; they are glad to point out the more secluded hikes. </p>
                <div class="inner-article-title-bree">7. You're never too old to be a junior ranger. </div>
                <p>There is a ton to learn in Yellowstone. What was great about this experience was how much we took in just by being at the Park. Earning our junior ranger badges together (as 20 to 26 year olds) was a highlight of our trip and a great bonding experience. [side pic 3] You may not be as weird and choose not to do so, but do find opportunities to learn about this almost seemingly unreal place while you are there. </p>
                <div class="inner-article-title-bree">8. Be cautious of electronics while hiking near waterfalls... </div>
                <p>...because sometimes you get your phone wet and it, well, dies. Mystic falls, not too far from the Grand Prismatic Spring, are near the end of a lovely, easy hike. The falls are beautiful but Brayden dropped his phone. What a goober. The hike connects to a four to seven mile hike up the mountain (there are multiple trails to the top). From the end of that hike, you can see half of all the geysers in the world. Pretty rad. [center pic 4]</p>
                <div class="inner-article-title-bree">9. Christmas music in August is sometimes appropriate, especially in a cabin. </div>
                <p>Okay. Listen. We know some people have this whole "don't listen to Christmas music before Thanksgiving" rule, but when Ming turns on Frank Sinatra's Christmas album as you have a cozy fire going on in your rustic cabin, it makes for a pretty comfy experience. [side pic 5] But in all seriousness, do make sure you and your fellow explorers are comfortable, whether you are in tents or in cabins. Yellowstone is an "all-ages welcome" experience and it is built that way. It is meant to accommodate for all levels of explorer. </p>
                <div class="inner-article-title-bree">10. "me gusta carne de lengua" y "me gusta LA lengua" no son lo mismo ;) </div>
                <p>As Katherine learned on a school bus taco truck. Sorry if you don't speak Spanish. Frankly, you probably don't want to know. You can use Google Translate, and then use your imagination. Just remember, "lengua" also means tongue.... But let's talk about meals for a second. For any adventure, pre-plan your meals to accommodate your lodging situation. Don't forget snacks for trails and non-perishable foods for longer hikes. We had a ton of fun cooking together, partially due to the fact that we had easy enough meals, many of which could use similar ingredients (ex: scrambled eggs for breakfast one day and hash browns for breakfast the next). That way, you don't have to get too complicated in sorting out ingredients. Yellowstone Village is also home to many great places to eat.</p>
                <p>Yellowstone was definitely one for the books. Sure, not everything was perfect (we literally left the park at 10 PM, getting home around 4 AM), and it may not have been as strenuous as the Narrows or Havasupai, but it was a great way to end a summer in preparation for a rough school year. Happy exploring!</p>
              </div> -->
              <br>
            </div>
          </div>


          <div class="col-sm-4">
            <div class="top-spacing"></div>

            <hr>
            <div class="text-center"><p class="sidebar-title-div-bree">Featured Articles</p></div>
            <hr>
            <div class="sidebar-featured">
              <div ng-repeat="article in featured">
                <div class="row">

                  <div class="col-sm-2 sidebar-article-part1">
                    <a href="{{article.link}}" onclick="scrollToTop()"><img src="{{article.imageSrc}}"></a><br><br>
                  </div>
                  <div class="col-sm-2 sidebar-article-part2">
                    <a href="{{article.link}}" onclick="scrollToTop()"><p class="sidebar-article-title">{{article.title}}</p></a>
                    <p class="sidebar-article-date">{{article.date}}</p>
                  </div>
                </div>
              </div>
            </div>



            <hr>
            <div class="text-center sidebar-title-div-small"><a href="#">[ADVERTISMENT]</a></div>


            <hr>
            <!-- <p class="sidebar-title-bree">Where We Camped</p> -->
            <app-map style="height:300px;" center="loc"></app-map>

            <br><br><br>
          </div>
        </div>
      </section>

      <section class="container">
        <div class="row">
          <div class="col-sm-12" id="comment">
            <h3>COMMENTS</h3>
            <!-- <div class="fb-comments" data-href="http://www.adamcthompson.com/oac/index.html#/article?id=0" data-numposts="5"></div> -->
            <!-- <div class="fb-comments" data-href="http://www.outdooradventurecrew.com" data-width="600px" data-numposts="5"></div> -->
            <!-- <div id="fb-comment-box" dyn-fb-comment-box
                    page-href="http://www.adamcthompson.com/oac/index.html#/article?id={{id}}";
                    numposts="5"
                    colorscheme="light">
            </div> -->
            <div class="fb-comments"
                dyn-fb-comment-box
                page-href="http://www.adamcthompson.com/oac/index.html#/article?id={{id}}"
                data-numposts="5">
            </div>
          </div>
        </div>
      </section>
      <!-- to right here -->

    </div>
  </script>


  <script type="text/ng-template" id="/survival.html">
    <section class="jumbotron">
      <br><br><br><br><br><br><br><br><br><br><br><br>
      <div class="container" id="jumbo-title">
        <div class="row">
          <h3>{{jumbotronTitle}}</h3>
        </div>
      </div>
    </section>
    <div id="main">
      <section class="container-fluid" id="main-container-blog">
        <div class="row">

          <div class="col-sm-8 main-blog">
            <div id="main-blog-body">
              <div class="row title-div text-center">- FEATURED ARTICLES -</div><br><br>
                <div ng-repeat="article in articles">
                  <div class="text-center">
                    <a href="#/article" onclick="scrollToTop()"><img src="{{article.imageSrc}}"></a>
                  </div>
                  <h3>{{article.title}}</h3>
                  <p>{{article.content}}...<a href="#/article" onclick="scrollToTop()" style="color: #20457c;"> {{readMore}}</a></p>
                  <div class="main-blog-line"></div>
                <br><br><br>
              </div>
            </div>
          </div>


          <div class="col-sm-4">
            <div class="top-spacing"></div>
            <!-- <div class="sidebar-content-blog">
              <div class="text-center sidebar-title-div-big"><a href="#">ALL ENTRIES</a></div>
              <div class="main-line"></div>
              <div class="text-center sidebar-title-div-small"><a href="#">CLICK HERE TO SEE ALL</a></div>
              <div class="main-line"></div>

              <div class="text-center sidebar-title-div "><em>OR,</em> VIEW BY MONTH</div>
              <div class="sidebar-border text-center">
                <div ng-repeat="month in getMonthsArray()" class="sidebar-title-div">
                  <a href=""><div id="month">{{month}} 2016</div></a>
                </div>
                <div class="main-line"></div>
                <a href="" class="sidebar-title-div-small">OVER 8 MONTHS AGO</a>
               </div>
            </div>
            <br><br><br> -->
            <div class="main-line"></div>
            <div class="text-center sidebar-title-div-small"><a href="#">[ADVERTISMENT]</a></div>
            <div class="main-line"></div>


          </div>
        </div>
    </div>
  </script>

  <script type="text/ng-template" id="/contact.html">
    <section class="jumbotron" id="jumbo-contact">
      <div class="container" id="jumbo-title-contact">
        <div class="row">
          <h4>Let's get in contact!</h4>
          <h4>We'd love to hear from you!</h4>
        </div>
      </div>
    </section>

    <section class="container" id="contact-container">

    </section>
  </script>



  <!-- <section class="jumbotron" id="jumbo-bottom">
  </section> -->



  <footer class="container-fluid">
    <div class="row text-center" id="footerrow">

      <div class="col-sm-6 text-left" id="fleftnav">
      <a href="#/subscribe">Subscribe to our email list</a><br>
        <a href="#/contact">Contact us</a><br>
        <a href="#/promote">Promote with us</a><br>
      </div>
      <div class="col-sm-6 text-right" id="frightnav">
      <a id="promote" href="#/promote">FOLLOW US! </a>
      <a href="https://www.instagram.com/outdooradventurecrew/"><img src="images/socialmedia/instagram.png"></a><a href="https://www.facebook.com/outdooradventurecrew"><img src="images/socialmedia/facebook.png"></a><a href="#"><img src="images/socialmedia/youtube.png"></a><a href="#"><img src="images/socialmedia/vimeo.png"></a><a href="#"><img src="images/socialmedia/pinterest.png"></a><a href="#"><img src="images/socialmedia/flickr.png"></a><a href="#"><img src="images/socialmedia/tumblr.png"></a>
      </div>
    </div>
    <hr>
    <div class="col-sm-12 text-center" id="copyright">Copyright &copy 2016 | Outdoor Adventure Crew | this site developed and maintained by Adam Thompson</div>
  </footer>

</div>


</body>
</html>
